stages:
  - build

variables:
  IMAGE_NAME: "flask-prom-demo"
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  KUSTOMIZE_IMAGE_NAME: "$HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME"

build-image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "$HARBOR_REGISTRY": {
            "username": "$HARBOR_USERNAME",
            "password": "$HARBOR_PASSWORD"
          }
        }
      }
      EOF
    - /kaniko/executor --context "$CI_PROJECT_DIR" --dockerfile Dockerfile --destination "$KUSTOMIZE_IMAGE_NAME:$IMAGE_TAG" --insecure --skip-tls-verify

  only:
     - master
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip ci\]/

update-k8s-manifest:
  stage: deploy
  image: alpine/git
  script:
    - |
      PUSH_URL="http://oauth2:${GITLAB_PUSH_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
      git config --global user.email "szk@hotmail.com"
      git config --global user.name "gitlab-ci-law"
      git checkout  master
      sed -i "s/newTag:.*/newTag: $CI_COMMIT_SHORT_SHA/" deploy/k8s/kustomization.yaml
      git add deploy/k8s/kustomization.yaml
      git commit -m "ci: update image tag $CI_COMMIT_SHORT_SHA[skip ci]"
      git push $PUSH_URL HEAD:master
  only:
    - master
