apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: flask-prom
  labels:
    release: prometheus   # ⚠️ 必须和 kube-prometheus-stack 一致
spec:
  namespaceSelector:
    matchNames:
      - monitoring            # 或你的应用 namespace
  selector:
    matchLabels:
      app: flask-prom      # ✅ 选 Service，不是 Pod
  endpoints:
    - port: http           # ✅ 对应 Service port.name
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s

